<h1>Etape 1</h1>
<ngx-charts-number-card [results]="step1Result" [view]="view"></ngx-charts-number-card>

<h1>Etape 2</h1>
<ngx-charts-number-card [results]="step2Result" [view]="[700,300]" [cardColor]="'black'"></ngx-charts-number-card>

<h1>Etape 3</h1>
<ngx-charts-pie-chart [results]="step3Result" [view]="[1000,300]" [labels]="true" [legend]="true"
  [legendTitle]="'Causes d\'insatisfaction'" [animations]="false"></ngx-charts-pie-chart>

<h1>Etape 4</h1>
<ngx-charts-bar-vertical [results]="step4Result" [view]="[1000,300]" [gradient]="false" [xAxis]="true" [yAxis]="true"
  [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Société'" [animations]="false" [legend]="true"
  [legendTitle]="'Voyageurs par société'" [yAxisLabel]="'Voyageurs'"></ngx-charts-bar-vertical>

<h1>Etape 5</h1>
<ngx-charts-bar-horizontal [results]="step5Result" [view]="[1000,300]" [gradient]="false" [xAxis]="true" [yAxis]="true"
  [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Voyageurs'" [animations]="false" [legend]="true"
  [legendTitle]="'Voyageurs par Destination'" [yAxisLabel]="'Destination'"></ngx-charts-bar-horizontal>

<h1>Etape 6</h1>
<ngx-charts-line-chart [results]="step6Result" [view]="[1000,300]" [gradient]="false" [xAxis]="true" [yAxis]="true"
  [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Jour'" [animations]="false"
  [yAxisLabel]="'Voyageurs'"></ngx-charts-line-chart>


<h1>Etape X</h1>
<ngx-charts-pie-chart [results]="stepXResult" [view]="[1000,300]" [labels]="true" [legend]="true"
  [legendTitle]="'Causes d\'insatisfaction'" [animations]="false"></ngx-charts-pie-chart>